// .container {
//   display: flex;
//   max-width: 600px;
//   justify-content: space-between;
// }
.item {
  display: flex;
  // max-width: 600px;
  justify-content: space-between;
  margin-bottom: 10px;

  &_name {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 2;
    font-weight: 700;
    margin-right: 4px;
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    // width: -webkit-fit-content;
    // width: -moz-fit-content;
    width: 50px;
    height: 45px;
    padding: 10px;
    border: 2px;
    border-radius: 60px;
    background: #fdc435;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(252, 132, 45, 0.5);
    font-size: 16px;
    line-height: 16px;
  }
  &_link {
    text-decoration: none;
    font: normal 700 16px/1.22 Verdana;
    text-align: center;
    color: #264061;
    letter-spacing: 0.04em;
    margin-top: 22px;
  }
  &_icon {
    display: inline-block;

    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &_tel {
    display: inline-block;
    margin-left: 10px;
  }
}
